@import "theme.css";

/* unset so we can style everything from the ground up. */
* {
    all: unset;
    color: var(--main-fg);
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font";
    border-radius: 100px;
    font-weight: bold;
}

label {
    font-size: 1rem;
}



#hyprland-language,
#hyprland-window {
    background-color: var(--main-bg);
    padding: 0px 8px;
}

/*initial styles for all modules*/

#panel-button,
#date-time,
#backlight,
#battery,
#bluetooth,
#cpu,
#storage,
#hyprland-window,
#custom-keybindhint,
#language,
#memory,
#network,
#pulseaudio,
#taskbar,
#tray,
#updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces{
    color: var(--main-fg);
    background: var(--main-bg);
    padding: 0px 20px;
}


#mpris-container{
    color: var(--main-fg);
    background: var(--main-bg);   
}

#hyprland-window{
    padding: 6px 10px;
}

#bar-inner {
    padding: 4px;
    border-color: var(--border-color);
    background-color: var(--window-bg);
    min-height: 28px;
}

#workspaces {
    padding-top: 3px;
    padding-bottom: 3px;
}

#workspaces>button {
    padding: 0 0.5rem;
    transition: padding 0.05s steps(8);
}


#workspaces>button:hover {
    background-color: var(--ws-hover);
    
}


#workspaces>button.active {
    padding: 0 1rem;
    background-color: var(--ws-active);
    min-width: 1.4rem;
}

#workspaces>button.active > label{
    color: var(--main-bg);
}


#workpspace > label{
    font-size: 1rem;
}


/* system tray */
#system-tray {
    padding: 2px 4px;
    background-color: var(--main-bg);
}

/* menu and menu items (written for the system tray) */
menu {
    border: solid 2px;
    border-radius: 10px;
    border-color: var(--border-color);
    background-color: var(--window-bg);
}

menu>menuitem {
    border-radius: 0px;
    background-color: var(--main-bg);
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

menu>menuitem:first-child {
    margin-top: 1px;
    border-radius: 8px 8px 0px 0px;
}

menu>menuitem:last-child {
    margin-bottom: 1px;
    border-radius: 0px 0px 8px 8px;
}

menu>menuitem:hover {
    background-color: var(--border-color);
}


#volume-progress-bar {
    color: transparent;
    background-color: transparent
}


#volume-progress-bar {
    border: solid 0px var(--border-color);
}


#widgets-container {
    background-color: var(--main-bg);
    padding: 2px;
}

tooltip {
    background-color: var(--main-bg);
    border-radius: 10px;
}

tooltip>* {
    padding: 2px 4px
}




.bar-button-label{
    margin-left: 10px;
}

.bar-button-icon{
    min-height: 4px;
}

 
