@use "sass:color";

@use "mixins.scss";
@use "functions.scss";
@use "../theme.scss";
@use "../variable.scss";

%debug {
  border: 1px solid red;
}

label {
  font-size: 1rem;
}

#panel {
  &-inner {
    background-color: theme.$bar-background;
    padding: 0.6em 0.8em 0.6em 0.8em;
    border-radius: variable.$radius;
  }
}

.floating {
  margin: 1rem 1.5rem 0rem 1.5rem;
  border-color: theme.$surface-disabled;
}

.panel-box,
.panel-button {
  background-color: theme.$background-dark;
}

.default {
  border-radius: variable.$radius-large;
}

.panel-box {
  padding: 0.1em 0.9em;
  color: theme.$text-main;
  font-weight: 700;
}

.panel-button {
  padding: 0 1.25em;

  label {
    color: theme.$text-main;
  }

  &:hover {
    @extend %widget_hover;
  }
}

.flat {
  border-radius: 4px;
}

.shadow {
  border-radius: 4px;
  box-shadow: darken($color: theme.$background-dark, $amount: 15%) 0 4px;
}

.bordered {
  border: 1.5px solid theme.$surface-disabled;
}

.wave1 {
  border-radius: 24px 10px;
}

.wave2 {
  border-radius: 10px 24px;
}

.panel-icon {
  margin-left: 2px;
  margin-right: 2px;
  color: theme.$text-main;
}

.panel-text {
  font-weight: 700;
  margin-left: 10px;
}

.overlay-progress-bar {
  color: transparent;
  background-color: transparent;
  border-color: theme.$surface-disabled;
}

.overlay-icon {
  margin: 0 functions.toEm(6) 0 0;
}

#language,
#window,
#date-time {
  padding: 0.19em 0.625em;
  font-weight: 700;
}

tooltip {
  @extend %unset;
  background-color: theme.$background-dark;
  border-radius: variable.$radius;
  box-shadow: 0 0 3px 0 theme.$shadow-color;
  animation: tooltipShow 0.25s cubic-bezier(0.5, 0.25, 0, 1);

  label {
    @extend %unset;
    color: theme.$text-main;
    font-weight: normal;
  }
}

tooltip > * {
  padding: 0.125em 0.25em;
}

menu {
  margin: functions.toEm(6);
  padding: functions.toEm(6);
  background-color: theme.$background-alt;
  background-clip: border-box;
  border-radius: 12px;
  border: variable.$border;
}

menuitem {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 20px;
  min-width: 40px;
  background-clip: border-box;

  arrow {
    min-height: 16px;
    min-width: 16px;
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
    margin-left: 8px;
  }

  separator {
    min-height: 1px;
    margin: functions.toEm(4) 0;
    background-color: theme.$background;
  }
}

menu > arrow {
  min-height: 16px;
  min-width: 16px;
  padding: functions.toEm(4);
  color: theme.$background-alt;
}

menu > arrow.top {
  margin-top: 0;
  border-radius: 6px;
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

menu > arrow.bottom {
  margin-top: 8px;
  margin-bottom: -12px;
  border-radius: 6px;
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

check,
radio {
  min-height: 15px;
  min-width: 15px;
  margin: functions.toEm(4);
  padding: 0;
  background-color: theme.$text-main;
  border-radius: variable.$radius-large;
  transition:
    all 75ms cubic-bezier(0, 0, 0.2, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.2, 1);
}

check {
  border-radius: 4px;
}

check:hover,
radio:hover {
  box-shadow: 0 0 0 4px color.adjust(theme.$background-dark, $alpha: -0.9);
  background-color: theme.$text-muted;
}

check:active,
radio:active {
  box-shadow: 0 0 0 4px color.adjust(theme.$background-dark, $alpha: -0.9);
  background-color: theme.$background-dark;
}

check:checked,
check:indeterminate,
radio:checked,
radio:indeterminate {
  color: theme.$background-dark;
  background-color: theme.$text-main;
}

check:checked {
  -gtk-icon-source: -gtk-icontheme("checkbox");
}

check:checked:hover,
check:indeterminate:hover,
radio:checked:hover,
radio:indeterminate:hover {
  box-shadow: 0 0 0 4px color.adjust(theme.$text-main, $alpha: -0.9);
  background-color: theme.$text-main;
}

check:checked:active,
check:indeterminate:active,
radio:checked:active,
radio:indeterminate:active {
  box-shadow: 0 0 0 4px color.adjust(theme.$text-main, $alpha: -0.9);
  background-color: theme.$text-main;
}

switch {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  margin: functions.toEm(4) 0;
  border-radius: 9999px;
  background-color: color.adjust(theme.$background, $lightness: 10%);
  background-clip: padding-box;
  font-size: 0;
  color: transparent;

  slider {
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
    min-width: 14px;
    min-height: 14px;
    margin: functions.toEm(2);
    border-radius: 9999px;
    outline: none;
    background-color: theme.$text-main;
    border: none;
    color: transparent;
  }

  &:checked {
    background-color: #06944d;
  }

  &:disabled {
    opacity: 0.5;
  }
}

@keyframes tooltipShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}

expander {
  arrow {
    min-width: 16px;
    min-height: 16px;
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
    color: color.mix(variable.$border-color, transparent, 30%);

    &:dir(rtl) {
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
    }

    &:hover {
      color: color.mix(variable.$border-color, transparent, 60%);
    }

    &:checked {
      -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
    }
  }
}

spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}

spinner:checked {
  opacity: 1;
  animation: spin 1s linear infinite;
}

separator {
  min-width: 1px;
  min-height: 1px;
  background-color: theme.$surface-disabled;
}

scrollbar {
  background-color: theme.$text-main;
  border-radius: variable.$radius;
  margin-left: 8px;
  min-width: 0.3em;
}

#corner {
  background-color: theme.$bar-background;
  border-radius: 0;
}

#corner-container {
  min-width: 20px;
  min-height: 20px;
}

#cava {
  color: theme.$text-main;
}

#volumemenu {
  min-width: 5rem;
}

.cover {
  min-height: 0.8em;
  min-width: 3em;
  border-radius: variable.$radius;
  background-position: center;
  background-size: contain;
  margin: functions.toEm(3) functions.toEm(10) functions.toEm(3) 0;
}

// Menu styling
menu#ocr-menu {
  padding: 0.45em;

  menuitem {
    padding: 0.25em 1em;
    border-radius: variable.$radius;

    &:hover {
      background-color: theme.$surface-neutral;

      label#ocr-menu-item {
        color: theme.$background-dark;
      }
    }

    label#ocr-menu-item {
      color: theme.$surface-highlight;

      &.selected {
        font-weight: bold;
        color: theme.$accent-light;
      }
    }
  }
}

.desktop-clock-box {
  margin: 0 2rem 2rem 2rem;
}

#clock > label {
  font-size: 100px;
  font-weight: 600;
  @extend %desktop-widget;
}

#date > label {
  @extend %title_3;
  @extend %desktop-widget;
}
