@use "variables.scss";

@mixin no-style() {
  outline: none;
  border: none;
  box-shadow: none;
}

@mixin slider(
  $radius: variables.$border-radius,
  $highlight-color: white,
  $length: 145px
) {
  slider {
    min-height: 8px;
    border-radius: $radius;
    background: transparent;
    border: none;
    box-shadow: 0 0 3px 0 variables.$shadow-color;
  }

  scale {
    min-width: $length;
  }

  trough {
    min-height: inherit;
    border-radius: $radius;
    border: none;
    background: variables.$background-alt;
  }

  highlight,
  progress {
    background: $highlight-color;
    border-radius: $radius;
  }
}
