$font-name: JetBrainsMono Nerd Font Propo;
$font-size: 1rem;
$font-weight: 600;
$font-style: normal;
$border-radius: 10px;
$padding: 7pt;
$spacing: 12pt;
$border-opacity: 96;
$border-width: 1px;
$bar-scaling: 100;
$bar-opacity: 80;
$bar-border-radius: 10px;
$bar-border-width: 1px;
$bar-menus-shadow: 0 0 0;
$bar-menus-opacity: 100;
$bar-menus-tooltip-scaling: 100;
$bar-menus-tooltip-border-radius: 10px;
$bar-menus-tooltip-font-weight: 700;
$bar-menus-tooltip-padding_x: 0.25;
$bar-menus-tooltip-padding_y: 0.125em;
$bar-buttons-scaling: 100;
$bar-buttons-opacity: 100;
$bar-buttons-border-radius: 1em;
$bar-buttons-border-width: 1em;
$bar-buttons-padding_x: 0;
$bar-buttons-padding_y: 1.25em;
