$font-name: JetBrainsMono Nerd Font Propo;
$font-size: 1rem;
$font-weight: 600;
$font-style: normal;
$border-radius: 10px;
$padding: 7pt;
$spacing: 12pt;
$border-width: 1px;
$modules-app_launcher-scaling: 100;
$modules-app_launcher-opacity: 50;
$modules-app_launcher-shadow-enabled: false;
$modules-app_launcher-shadow-offset: 0;
$modules-app_launcher-shadow-blur: 0;
$modules-app_launcher-shadow-spread: 0;
$modules-app_launcher-shadow-opacity: 100;
$modules-app_launcher-padding_x: 8px;
$modules-app_launcher-padding_y: 8px;
$modules-app_launcher-margin_x: 8px;
$modules-app_launcher-margin_y: 8px;
$modules-app_launcher-border-enabled: false;
$modules-app_launcher-border-width: 1px;
$modules-app_launcher-border-radius: 1.5rem;
$modules-dock-scaling: 100;
$modules-dock-opacity: 50;
$modules-dock-shadow-enabled: false;
$modules-dock-shadow-offset: 0;
$modules-dock-shadow-blur: 0;
$modules-dock-shadow-spread: 0;
$modules-dock-shadow-opacity: 100;
$modules-dock-padding_x: 8px;
$modules-dock-padding_y: 8px;
$modules-dock-margin_x: 8px;
$modules-dock-margin_y: 8px;
$modules-dock-border-enabled: false;
$modules-dock-border-width: 1px;
$modules-dock-border-radius: 1.5rem;
$modules-osd-scaling: 100;
$modules-osd-opacity: 100;
$modules-osd-widget_style: default;
$modules-osd-sliders-height: 0.5em;
$modules-osd-sliders-slider: false;
$modules-osd-shadow-enabled: false;
$modules-osd-shadow-offset: 0;
$modules-osd-shadow-blur: 0;
$modules-osd-shadow-spread: 0;
$modules-osd-shadow-opacity: 100;
$modules-osd-padding_x: .8em;
$modules-osd-padding_y: .6em;
$modules-osd-margin_x: 0;
$modules-osd-margin_y: 1.25em;
$modules-osd-border-enabled: false;
$modules-osd-border-width: 1px;
$modules-osd-border-radius: 16px;
$modules-notification-scaling: 100;
$modules-notification-opacity: 100;
$modules-notification-shadow-enabled: false;
$modules-notification-shadow-offset: 0;
$modules-notification-shadow-blur: 0;
$modules-notification-shadow-spread: 0;
$modules-notification-shadow-opacity: 100;
$modules-notification-padding_x: .9em;
$modules-notification-padding_y: .9em;
$modules-notification-margin_x: 0;
$modules-notification-margin_y: 1.25em;
$modules-notification-border-enabled: false;
$modules-notification-border-width: 1px;
$modules-notification-border-radius: 16px;
$bar-scaling: 100;
$bar-opacity: 70;
$bar-style-panel: default;
$bar-style-widget: default;
$bar-shadow-enabled: false;
$bar-shadow-offset: 0;
$bar-shadow-blur: 0;
$bar-shadow-spread: 0;
$bar-shadow-opacity: 100;
$bar-padding_x: .8em;
$bar-padding_y: .6em;
$bar-margin_x: 0;
$bar-margin_y: 1.25em;
$bar-border-enabled: true;
$bar-border-width: 4px;
$bar-border-radius: 16px;
$bar-buttons-scaling: 100;
$bar-buttons-opacity: 100;
$bar-buttons-hover_opacity: 90;
$bar-buttons-padding_x: 0;
$bar-buttons-padding_y: 1.25em;
$bar-buttons-margin_x: 0;
$bar-buttons-margin_y: 1.25em;
$bar-buttons-shadow-enabled: false;
$bar-buttons-shadow-offset: 0;
$bar-buttons-shadow-blur: 0;
$bar-buttons-shadow-spread: 0;
$bar-buttons-shadow-opacity: 100;
$bar-widgets-divider-size:  2px;
$bar-widgets-divider-margin_x: 0;
$bar-widgets-divider-margin_y: 1.25em;
$bar-widgets-spacing-size:  20px;
$bar-widgets-cpu-spacing: .125em;
$bar-widgets-cpu-icon_size: 12px;
$bar-widgets-cpu-border-enabled: false;
$bar-widgets-cpu-border-width: 1px;
$bar-widgets-cpu-border-radius: 16px;
$bar-widgets-cliphist-spacing: .125em;
$bar-widgets-cliphist-icon_size: 12px;
$bar-widgets-cliphist-border-enabled: false;
$bar-widgets-cliphist-border-width: 1px;
$bar-widgets-cliphist-border-radius: 16px;
$bar-widgets-radio_player-spacing: .125em;
$bar-widgets-radio_player-icon_size: 12px;
$bar-widgets-radio_player-border-enabled: false;
$bar-widgets-radio_player-border-width: 1px;
$bar-widgets-radio_player-border-radius: 16px;
$bar-widgets-kanban-spacing: .125em;
$bar-widgets-kanban-icon_size: 12px;
$bar-widgets-kanban-border-enabled: false;
$bar-widgets-kanban-border-width: 1px;
$bar-widgets-kanban-border-radius: 16px;
$bar-widgets-emoji_picker-spacing: .125em;
$bar-widgets-emoji_picker-icon_size: 12px;
$bar-widgets-emoji_picker-border-enabled: false;
$bar-widgets-emoji_picker-border-width: 1px;
$bar-widgets-emoji_picker-border-radius: 16px;
$bar-widgets-window_count-spacing: .125em;
$bar-widgets-window_count-icon_size: 12px;
$bar-widgets-window_count-border-enabled: false;
$bar-widgets-window_count-border-width: 1px;
$bar-widgets-window_count-border-radius: 16px;
$bar-widgets-world_clock-spacing: .125em;
$bar-widgets-world_clock-icon_size: 12px;
$bar-widgets-world_clock-border-enabled: false;
$bar-widgets-world_clock-border-width: 1px;
$bar-widgets-world_clock-border-radius: 16px;
$bar-widgets-memory-spacing: .125em;
$bar-widgets-memory-icon_size: 14px;
$bar-widgets-memory-border-enabled: false;
$bar-widgets-memory-border-width: 1px;
$bar-widgets-memory-border-radius: 16px;
$bar-widgets-storage-spacing: .125em;
$bar-widgets-storage-icon_size: 14px;
$bar-widgets-storage-border-enabled: false;
$bar-widgets-storage-border-width: 1px;
$bar-widgets-storage-border-radius: 16px;
$bar-widgets-network_usage-spacing: .125em;
$bar-widgets-network_usage-icon_size: 14px;
$bar-widgets-network_usage-border-enabled: false;
$bar-widgets-network_usage-border-width: 1px;
$bar-widgets-network_usage-border-radius: 16px;
$bar-widgets-battery-spacing: .125em;
$bar-widgets-battery-icon_size: 14px;
$bar-widgets-battery-border-enabled: false;
$bar-widgets-battery-border-width: 1px;
$bar-widgets-battery-border-radius: 16px;
$bar-widgets-bluetooth-spacing: .125em;
$bar-widgets-bluetooth-icon_size: 14px;
$bar-widgets-bluetooth-border-enabled: false;
$bar-widgets-bluetooth-border-width: 1px;
$bar-widgets-bluetooth-border-radius: 16px;
$bar-widgets-brightness-spacing: .125em;
$bar-widgets-brightness-icon_size: 14px;
$bar-widgets-brightness-border-enabled: false;
$bar-widgets-brightness-border-width: 1px;
$bar-widgets-brightness-border-radius: 16px;
$bar-widgets-cava-spacing: .125em;
$bar-widgets-cava-border-enabled: false;
$bar-widgets-cava-border-width: 1px;
$bar-widgets-cava-border-radius: 16px;
$bar-widgets-click_counter-spacing: .125em;
$bar-widgets-click_counter-icon_size: 14px;
$bar-widgets-click_counter-border-enabled: false;
$bar-widgets-click_counter-border-width: 1px;
$bar-widgets-click_counter-border-radius: 16px;
$bar-widgets-date_time-spacing: .125em;
$bar-widgets-date_time-border-enabled: false;
$bar-widgets-date_time-border-width: 1px;
$bar-widgets-date_time-border-radius: 16px;
$bar-widgets-desktop_clock-spacing: .125em;
$bar-widgets-desktop_clock-border-enabled: false;
$bar-widgets-desktop_clock-border-width: 1px;
$bar-widgets-desktop_clock-border-radius: 16px;
$bar-widgets-hypridle-spacing: .125em;
$bar-widgets-hypridle-icon_size: 14px;
$bar-widgets-hypridle-border-enabled: false;
$bar-widgets-hypridle-border-width: 1px;
$bar-widgets-hypridle-border-radius: 16px;
$bar-widgets-hyprpicker-spacing: .125em;
$bar-widgets-hyprpicker-icon_size: 14px;
$bar-widgets-hyprpicker-border-enabled: false;
$bar-widgets-hyprpicker-border-width: 1px;
$bar-widgets-hyprpicker-border-radius: 16px;
$bar-widgets-hyprsunset-spacing: .125em;
$bar-widgets-hyprsunset-icon_size: 14px;
$bar-widgets-hyprsunset-border-enabled: false;
$bar-widgets-hyprsunset-border-width: 1px;
$bar-widgets-hyprsunset-border-radius: 16px;
$bar-widgets-keyboard-icon_size: 14px;
$bar-widgets-keyboard-spacing: .125em;
$bar-widgets-keyboard-border-enabled: false;
$bar-widgets-keyboard-border-width: 1px;
$bar-widgets-keyboard-border-radius: 16px;
$bar-widgets-language-spacing: .125em;
$bar-widgets-language-icon_size: 14px;
$bar-widgets-language-border-enabled: false;
$bar-widgets-language-border-width: 1px;
$bar-widgets-language-border-radius: 16px;
$bar-widgets-microphone-spacing: .125em;
$bar-widgets-microphone-icon_size: 14px;
$bar-widgets-microphone-border-enabled: false;
$bar-widgets-microphone-border-width: 1px;
$bar-widgets-microphone-border-radius: 16px;
$bar-widgets-mpris-spacing: .125em;
$bar-widgets-mpris-icon_size: 14px;
$bar-widgets-mpris-border-enabled: false;
$bar-widgets-mpris-border-width: 1px;
$bar-widgets-mpris-border-radius: 16px;
$bar-widgets-ocr-spacing: .125em;
$bar-widgets-ocr-icon_size: 14px;
$bar-widgets-ocr-border-enabled: false;
$bar-widgets-ocr-border-width: 1px;
$bar-widgets-ocr-border-radius: 16px;
$bar-widgets-overview-spacing: .125em;
$bar-widgets-overview-icon_size: 14px;
$bar-widgets-overview-border-enabled: false;
$bar-widgets-overview-border-width: 1px;
$bar-widgets-overview-border-radius: 16px;
$bar-widgets-power-spacing: .125em;
$bar-widgets-power-icon_size: 14px;
$bar-widgets-power-border-enabled: false;
$bar-widgets-power-border-width: 1px;
$bar-widgets-power-border-radius: 16px;
$bar-widgets-recorder-spacing: .125em;
$bar-widgets-recorder-icon_size: 14px;
$bar-widgets-recorder-border-enabled: false;
$bar-widgets-recorder-border-width: 1px;
$bar-widgets-recorder-border-radius: 16px;
$bar-widgets-stopwatch-spacing: .125em;
$bar-widgets-stopwatch-icon_size: 14px;
$bar-widgets-stopwatch-border-enabled: false;
$bar-widgets-stopwatch-border-width: 1px;
$bar-widgets-stopwatch-border-radius: 16px;
$bar-widgets-submap-spacing: .125em;
$bar-widgets-submap-icon_size: 14px;
$bar-widgets-submap-border-enabled: false;
$bar-widgets-submap-border-width: 1px;
$bar-widgets-submap-border-radius: 16px;
$bar-widgets-system_tray-spacing: .125em;
$bar-widgets-system_tray-border-enabled: false;
$bar-widgets-system_tray-border-width: 1px;
$bar-widgets-system_tray-border-radius: 16px;
$bar-widgets-quick_settings-spacing: .125em;
$bar-widgets-quick_settings-sliders-height: 0.7em;
$bar-widgets-quick_settings-sliders-slider: false;
$bar-widgets-quick_settings-border-enabled: false;
$bar-widgets-quick_settings-border-width: 1px;
$bar-widgets-quick_settings-border-radius: 16px;
$bar-widgets-taskbar-spacing: .125em;
$bar-widgets-taskbar-border-enabled: false;
$bar-widgets-taskbar-border-width: 1px;
$bar-widgets-taskbar-border-radius: 16px;
$bar-widgets-theme-spacing: .125em;
$bar-widgets-theme-icon_size: 14px;
$bar-widgets-theme-border-enabled: false;
$bar-widgets-theme-border-width: 1px;
$bar-widgets-theme-border-radius: 16px;
$bar-widgets-updates-spacing: .125em;
$bar-widgets-updates-icon_size: 14px;
$bar-widgets-updates-border-enabled: false;
$bar-widgets-updates-border-width: 1px;
$bar-widgets-updates-border-radius: 16px;
$bar-widgets-volume-spacing: .125em;
$bar-widgets-volume-icon_size: 14px;
$bar-widgets-volume-border-enabled: false;
$bar-widgets-volume-border-width: 1px;
$bar-widgets-volume-border-radius: 16px;
$bar-widgets-weather-spacing: .125em;
$bar-widgets-weather-icon_size: 16px;
$bar-widgets-weather-border-enabled: false;
$bar-widgets-weather-border-width: 1px;
$bar-widgets-weather-border-radius: 16px;
$bar-widgets-window_title-spacing: .125em;
$bar-widgets-window_title-icon_size: 14px;
$bar-widgets-window_title-border-enabled: false;
$bar-widgets-window_title-border-width: 1px;
$bar-widgets-window_title-border-radius: 16px;
$bar-widgets-workspaces-spacing: .125em;
$bar-widgets-workspaces-pill-height: .125em;
$bar-widgets-workspaces-pill-width: .5em;
$bar-widgets-workspaces-pill-active_width: 1em;
$bar-widgets-workspaces-border-enabled: false;
$bar-widgets-workspaces-border-width: 1px;
$bar-widgets-workspaces-border-radius: 16px;
$bar-menus-scaling: 100;
$bar-menus-opacity: 100;
$bar-menus-border-enabled: false;
$bar-menus-border-width: 1px;
$bar-menus-border-radius: 16px;
$bar-menus-popover-scaling: 100;
$bar-menus-popover-opacity: 100;
$bar-menus-popover-margin_x: 0;
$bar-menus-popover-margin_y: 1.25em;
$bar-menus-popover-padding_x: 1em;
$bar-menus-popover-padding_y: 1em;
$bar-menus-popover-shadow-enabled: false;
$bar-menus-popover-shadow-offset: 0;
$bar-menus-popover-shadow-blur: 0;
$bar-menus-popover-shadow-spread: 0;
$bar-menus-popover-shadow-opacity: 100;
$bar-menus-popover-border-enabled: true;
$bar-menus-popover-border-width: 1px;
$bar-menus-popover-border-radius: 1.5em;
$bar-menus-popover-font-weight: 700;
$bar-menus-tooltip-scaling: 100;
$bar-menus-tooltip-opacity: 100;
$bar-menus-tooltip-border-enabled: false;
$bar-menus-tooltip-border-width: 1px;
$bar-menus-tooltip-border-radius: 1em;
$bar-menus-tooltip-shadow-enabled: false;
$bar-menus-tooltip-shadow-offset: 0;
$bar-menus-tooltip-shadow-blur: 0;
$bar-menus-tooltip-shadow-spread: 0;
$bar-menus-tooltip-shadow-opacity: 100;
$bar-menus-tooltip-font-weight: 700;
$bar-menus-tooltip-padding_x: .25em;
$bar-menus-tooltip-padding_y: .125em;
