$font-name: JetBrainsMono Nerd Font Propo;
$font-size: 1.05rem;
$font-weight: 600;
$radius: 10px;
$padding: 7pt;
$spacing: 12pt;
$border-width: 1px;
$tooltip-radius: 10px;
$tooltip-font-size: 0.9rem;
$tooltip-font-weight: 700;
$tooltip-padding_x: 0.25;
$tooltip-padding_y: 0.125em;
$bar-buttons-radius: 1em;
$bar-buttons-padding_x: 0;
$bar-buttons-padding_y: 1.25em;
