@use "theme";
@use "sass:color";
@use "variable";


#launcher {

  border: if(variable.$modules-app_launcher-border-enabled, variable.$border, none);
  border-width: variable.$modules-app_launcher-border-width;


  $shadow: 0 0 0 variable.$bar-border-width theme.$shadow-color,
    variable.$modules-app_launcher-shadow-offset variable.$modules-app_launcher-shadow-blur variable.$modules-app_launcher-shadow-spread color.adjust(theme.$shadow-color,
      $alpha: calc(variable.$modules-app_launcher-shadow-opacity - 1));

  box-shadow: if(variable.$modules-app_launcher-shadow-enabled, $shadow, none);

  &-prompt {
    border-bottom: 1px solid theme.$surface-disabled;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px 0;
  }

  &-contents {
    border-radius: 15px;
    border: 0.5px solid theme.$surface-disabled;
    background-color: theme.$background-dark;
    padding: 10px;
    min-width: 600px;
  }

  &-close-button {
    border-radius: 15px;

    &:hover {
      background-color: theme.$accent-red;
    }
  }
}
