
@use "theme.scss";


#launcher {

  &-contents{
    border-radius: 15px;
    border: 0.5px solid theme.$surface-disabled;
    background-color: theme.$background-dark;
    padding: 10px;
    min-width: 600px;
  }

  &-close-button {
    border-radius: 15px;

    &:hover {
      background-color: theme.$accent-red;
    }
  }
}
