@use "common/variables.scss";

/* brightness widget*/

#brightness-progress-bar {
  color: transparent;
  background-color: transparent;
  border-color: variables.$border-color;
}

.brightness-icon {
  margin: 0px 6px 0px 0px;
}
