@use "sass:color";
@use "theme";
@use "common";
@use "variable";



#date_time {

  border-radius: variable.$bar-widgets-date_time-border-radius;
  border: if(variable.$bar-widgets-date_time-border-enabled, variable.$border, none);
  border-width: variable.$bar-widgets-date_time-border-width;

  #notification-indicator {
    font-weight: bold;
    font-size: 15px;
  }


  #notification-count {
    font-weight: 700;
    font-size: 11px;
  }

  separator {
    background-color: variable.$border-color;
    border-radius: variable.$radius;
    margin: 2px 0px;
    min-width: 2px;
  }
}

/************** DATE MENU **************/

#date-menu {
  @include common.floating-widget;
  @include common.spacing;

  #notification-column {
    min-width: 435px;
    min-height: 380px;

    .header {
      margin-bottom: variable.$spacing;
      margin-right: variable.$spacing;

      label {
        @extend %smaller;
        padding-left: 1.5 * variable.$padding;
        padding-right: 1 * variable.$padding;
      }

      #clear-button {
        padding: 3px 4px;
        border: variable.$border;
        border-radius: variable.$radius;
        background-color: theme.$background;
        margin-right: 10px;
        border-width: 2px;



        label {
          padding-left: common.toEm(5);
        }

        #clear-icon {
          padding: 0;
          font-size: 13px;
        }

        &:hover {
          background-color: theme.$background-alt;

          #clear-icon {
            @extend %clear_icon;
            font-size: 13px;
          }
        }
      }
    }

    .notification-scrollable {



      #notification-list {
        margin-right: variable.$spacing;

        #notification-list-item {
          margin-top: 5px;
          border-radius: variable.$modules-notification-border-radius;
          margin-bottom: 5px;

          &:hover {
            border: 1px solid theme.$surface-highlight;
          }

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }


      }

      .placeholder {
        image {
          margin-bottom: 10px;
        }

        label {
          font-size: 1em;
        }
      }
    }
  }

  separator {
    background-color: color.mix(variable.$popover-border-color, black, 60%);
    border-radius: variable.$radius;
    margin-right: variable.$spacing;
  }

  .date-column {
    .clock-box {
      padding: variable.$padding;

      .clock {
        font-size: 4.5em;
      }

      .uptime {
        color: color.mix(theme.$text-main, transparent, 80%);
      }
    }

    .calendar {
      @extend %widget;
      background-color: theme.$background-alt;

      padding: variable.$padding * 2 variable.$padding * 2 0;

      calendar {
        all: unset;

        &.button {
          transition: 200ms;
          border-radius: variable.$radius;
          color: theme.$text-main;
        }

        &:hover {
          color: theme.$accent-teal;
        }

        &:selected {
          box-shadow:
            inset 0 -5px 0 0 color.mix(theme.$ws-active, transparent, 50%),
            inset 0 0 0 1px theme.$ws-active;
          border-radius: variable.$radius * .6;
        }

        &.header {
          background-color: transparent;
          border: 0;
          color: theme.$accent-blue;
        }

        &.highlight {
          background-color: transparent;
          color: theme.$accent-teal;
        }

        &:indeterminate {
          color: color.mix(theme.$text-main, transparent, 10%);
        }

        font-size: .98em;
        padding: .28em;
      }
    }
  }
}
