@use "sass:color";
@use "theme.scss";
@use "common/mixins.scss";
@use "common/functions.scss";
@use "variable.scss";

/************** Battery MENU **************/

#batterymenu {
  @include mixins.floating-widget(10px);
  @include mixins.spacing;
  padding: 10px;

  .power-profile-box {
    padding-left: functions.toEm(10);
    padding-right: functions.toEm(10);
    color: theme.$text-main;
    font-weight: 500;
  }

  .active {
    color: theme.$accent-purple;
  }

  .power-profile-button {
    &:hover {
      color: theme.$accent-purple;
    }
  }
}
