
@use "theme.scss";

#search-entry {
    font-weight: bold;
    background-color: theme.$surface-highlight;
    color: theme.$text-main;
    border-radius: 16px;
    padding: 10px;
}

#search-entry selection {
    color: theme.$text-main;
    background-color: theme.$background-dark;
}

#close-button {
    background-color: theme.$text-muted-dark;
    border-radius: 16px;
    padding: 10px;
}

#close-button:hover,
#close-button:focus {
    background-color: red;
}

#close-button:active {
    background-color: theme.$background-dark;
}

#close-label {
    color: theme.$shadow-color;
    background-color: red;
    font-size: 16px;
    padding: 4px;
    border-radius: 999px;
}

#scrolled-window {
    border-radius: 16px;
}

#scrolled-window scrollbar {
    border-radius: 10px;
    background-color: theme.$text-main;
    padding: 4px;
    margin-left: 6px;
}

#scrolled-window slider {
    border-radius: 8px;
    min-width: 16px;
    min-height: 48px;
    background-color: theme.$background-dark;
}

#app-slot-button {
    border-radius: 16px;
    padding: 16px;
    transition: padding 0.25s cubic-bezier(0.5, 0.25, 0, 1);
    animation: loadSlot 0.5s ease;
}

@keyframes loadSlot {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#app-slot-button:hover,
#app-slot-button:focus,
#app-slot-button:selected,
#app-slot-button.selected {
    background-color: theme.$text-muted;
    padding-left: 24px;
}

#app-slot-button:active {
    background-color: theme.$background-dark;
}

#app-icon {
    margin-right: 8px;
}

#app-label {
    color: theme.$text-main;
    font-weight: bold;
}

#app-slot-button:hover #app-label,
#app-slot-button:focus #app-label,
#app-slot-button:selected #app-label,
#app-slot-button.selected #app-label {
    color: theme.$background-dark;
}

#app-slot-button:active #app-label {
    color: theme.$shadow-color;
}