@import "theme.css";
@import "notification.css";
@import "osd.css";
@import "overview.css";
@import "systray.css";
@import "taskbar.css";
@import "workspace.css";


/* unset so we can style everything from the ground up. */
* {
    all: unset;
    color: var(--main-fg);
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font";
    border-radius: 100px;
    font-weight: bold;
}

label {
    font-size: 1rem;
}

.panel-button{
    background: var(--main-bg);
    padding: 0 1.25em;
}

.panel-box {
    background: var(--main-bg);
    padding: 0.1em 0.9em;
}


#panel-inner {
    padding: 0.1em 0.25em;
    border-color: var(--border-color);
    background-color: var(--window-bg);
}


.panel-buuton-label {
    margin-left: 10px;
}


#language,
#window {
    padding: 0.19em 0.625em;
}



/* menu and menu items (written for the system tray) */
menu {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--window-bg);
}

menu>menuitem {
    border-radius: 0px;
    background-color: var(--main-bg);
    padding: 0.375em;
    margin-left: 2px;
    margin-right: 2px;
}

menu>menuitem:first-child {
    margin-top: 1px;
    border-radius: 8px 8px 0px 0px;
}

menu>menuitem:last-child {
    margin-bottom: 1px;
    border-radius: 0px 0px 8px 8px;
}

menu>menuitem:hover {
    background-color: var(--border-color);
}


#volume-progress-bar {
    color: transparent;
    background-color: transparent
}


#volume-progress-bar {
    border: solid 0px var(--border-color);
}


#widgets-container {
    background-color: var(--main-bg);
    padding: 0.125em;
}


tooltip {
    background-color: var(--main-bg);
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: none;
}

tooltip label {
    outline: none;
    border: none;
    box-shadow: none;
    font-weight: normal;
}

tooltip>* {
    padding: 0.125em 0.25em
}


