@use 'sass:color';


@use "variables.scss";;
@use "common/mixins.scss";
@use "notification.scss";
@use "osd.scss";
@use "overview.scss";
@use "systray.scss";
@use "taskbar.scss";
@use "workspace.scss";
@use "volume.scss";


/* unset so we can style everything from the ground up. */
* {
  all: unset;
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
}

label {
  font-size: 1rem;
}


#panel-inner {
  padding: 0.1em 0.25em;
  border-color: variables.$border-color;
  background-color: transparent;
}

.panel-box {
  font-weight: bold;
  background: variables.$background-dark;
  padding: 0.1em 0.9em;
  color: variables.$text-main;
  border-radius: 100px;
}

.panel-button {
  background: variables.$background-dark;
  padding: 0 1.25em;
}

.panel-text {
  margin-left: 10px;
  font-weight: bold;
}

#language,
#window {
  padding: 0.19em 0.625em;
}

#widgets-container {
  background-color: variables.$background-dark;
  padding: 0.125em;
}

tooltip {
  background-color: variables.$background-dark;
  border-radius: 10px;
  @include mixins.no-style;
}

tooltip label {
  @include mixins.no-style;
  font-weight: normal;
}

tooltip > * {
  padding: 0.125em 0.25em;
}
