@import "theme.css";
@import "overview.css";


/* unset so we can style everything from the ground up. */
* {
    all: unset;
    color: var(--main-fg);
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font";
    border-radius: 100px;
    font-weight: bold;
}

label {
    font-size: 1rem;
}

.panel-button{
    background: var(--main-bg);
    padding: 0 1.25em;
}

.panel-box {
    background: var(--main-bg);
    padding: 0.1em 0.9em;
}


#panel-inner {
    padding: 0.1em 0.25em;
    border-color: var(--border-color);
    background-color: var(--window-bg);
}

#language,
#window {
    padding: 0.19em 0.625em;
}

/** workspace switcher */
#workspaces {
    padding: 0.19em 1em;
}

#workspaces>button {
    padding: 0 0.5rem;
    transition: padding 0.05s steps(8);
}


#workspaces>button:hover {
    background-color: var(--ws-hover);
}

#workspaces>button:hover label {
    color: var(--main-bg);
}

#workspaces>button.active {
    padding: 0 1rem;
    background-color: var(--ws-active);
    min-width: 1.4rem;
}

#workspaces>button.active>label {
    color: var(--main-bg);
}



/* system tray */
#system-tray {
    padding: 0.125em 0.25em;
    background-color: var(--main-bg);
}

/* menu and menu items (written for the system tray) */
menu {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--window-bg);
}

menu>menuitem {
    border-radius: 0px;
    background-color: var(--main-bg);
    padding: 0.375em;
    margin-left: 2px;
    margin-right: 2px;
}

menu>menuitem:first-child {
    margin-top: 1px;
    border-radius: 8px 8px 0px 0px;
}

menu>menuitem:last-child {
    margin-bottom: 1px;
    border-radius: 0px 0px 8px 8px;
}

menu>menuitem:hover {
    background-color: var(--border-color);
}


#volume-progress-bar {
    color: transparent;
    background-color: transparent
}


#volume-progress-bar {
    border: solid 0px var(--border-color);
}


#widgets-container {
    background-color: var(--main-bg);
    padding: 0.125em;
}


tooltip {
    background-color: var(--main-bg);
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: none;
}

tooltip label {
    outline: none;
    border: none;
    box-shadow: none;
    font-weight: normal;
}

tooltip>* {
    padding: 0.125em 0.25em
}


.panel-buuton-label {
    margin-left: 10px;
}


/** taskbar **/
#taskbar {
    font-style: normal;
    color: var(--main-fg);
    background: var(--main-bg);
    padding-left: 4px;
    padding-right: 4px;
}

#taskbar>button {
    padding: 0px 2px;
    margin: 4px 0px;
    border: 0px;
}

#taskbar>button:last-child {
    margin-right: 0px;
}

/** notification **/
#notification {
    padding: 0.8rem;
    border: solid 1px var(--border-color);
    border-radius: 1rem;
    background: var(--main-bg);
}


#notification .body {
    color: darker(var(--main-fg));
    font-weight: 600;
    font-size: 0.92rem;
}

.close-button:hover {
    box-shadow: none;
    background: alpha(var(--main-fg), 0.2);
    transition: background 0.15s ease-in-out;
    border: none;
  }


/* OSD */
#osd-container {
    background-color: alpha(#191A0B,0.8);
    padding: 12px 20px;
    border-radius: 999px;
    border: none;
    margin-bottom: 100px;
}


#osd-container scale {
    min-width: 140px;
}

#osd-container slider {
    min-height: 8px;
    border-radius: 999px;
    background: transparent;
    border: none;
}

#osd-container trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #808080;
}

#osd-container highlight {
    border-radius: 100px 0px 0px 100px;
    background: #FFFFFF;
}
  

