@use "common/common.scss";
@use "theme.scss";
@use "common/mixins.scss";
@use "notification.scss";
@use "osd.scss";
@use "overview.scss";
@use "datemenu.scss";
@use "systray.scss";
@use "taskbar.scss";
@use "weather.scss";
@use "workspace.scss";
@use "power.scss";

/* unset so we can style everything from the ground up. */
* {
  all: unset;
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
}

.cover {
  min-height: 0.8em;
  min-width: 3em;
  border-radius: 10px;
  background-position: center;
  background-size: contain;
  margin-top: 3px;
  margin-bottom: 3px;
}
