@use "sass:color";
@use "theme.scss";
@use "common/mixins.scss";
@use "variable.scss";
@use "sass:math";
@use "common/functions.scss";

#player-stack-button {
  @extend %dots_dots;

  &:hover {
    background-color: #646464;
  }

  &.active {
    border-radius: 5px;
    background-color: color.adjust($color: theme.$background, $lightness: 15%);
  }

  &.empty {
    min-width: 9px;
    margin: functions.toEm(14) functions.toEm(2);
    background-color: theme.$text-main;
  }
}

#player-box {
  $player_width: variable.$quicksettings-width + 40;

  $player_height: 125px;
  $image_size: 115px;
  min-height: $image_size + 4;

  #outer-player-box {
    min-width: $player_width;
    min-height: $image_size;
  }

  #inner-player-box {
    background-color: theme.$background;
    border-radius: 15px;
    margin-left: math.floor(calc($image_size / 2));
    min-width: math.floor(calc($player_width - $image_size / 2));
    min-height: $player_height;
  }

  #player-info-box {
    margin-left: $image_size + 10;
    min-width: $player_width - $image_size - 20;
  }

  #track-info {
    min-width: $player_width - $image_size - 20;
  }

  #player-image-stack {
    border-radius: 100%;
    box-shadow: 0 0 4px 0 black;
  }

  #player-title {
    margin-top: 18px;
    font-weight: 700;
    color: theme.$text-main;
    font-size: 1rem;
  }

  #player-artist,
  #player-album {
    font-weight: 500;
    font-size: 12px;
    color: #7d7178;
  }

  .player-controls {
    margin-top: 5px;
    margin-bottom: 15px;

    .time-label {
      @extend %caption_heading;
      color: #7d7178;
    }

    #button-box {
      margin: 0 functions.toEm(10);

      #player-button {
        min-width: 20px;
        min-height: 20px;
        padding: functions.toEm(5);
        border-radius: 100%;

        &:hover {
          background: theme.$background-alt;
          box-shadow: 0 0 2px -3px black;
        }

        &:active {
          box-shadow: 0 0 4px -1px black;
        }

        &:disabled {
          color: #5f5f5f;
        }
      }
    }
  }

  scale {
    margin-top: 10px;

    trough {
      border-radius: variable.$radius-large;
      min-height: 8px;
      background-color: color.adjust(theme.$background, $lightness: -5%);

      highlight {
        border-radius: 400px;
      }

      &:hover {
        background-color: color.adjust(theme.$background, $lightness: -7%);
      }
    }
  }

  highlight,
  progress {
    background: theme.$text-muted;
  }
}
