@use "sass:color";
@use "sass:math";
@use "theme";
@use "variable";
@use "common";


%player_text {
  color: theme.$text-main;
  background-color: transparent;
  text-shadow: 1px 1px 3px black;
}

#player-stack-button {
  @extend %dots_dots;

  &:hover {
    background-color: #646464;
  }

  &.active {
    border-radius: 5px;
    background-color: color.mix(theme.$background, white, 15%);
  }

  &.empty {
    min-width: 9px;
    margin: common.toEm(14) common.toEm(2);
    background-color: theme.$text-main;
  }
}

#player-box {
  $player_width: variable.$quicksettings-width + 40;

  $player_height: 125px;
  $image_size: 115px;
  min-height: $image_size + 4;

  $inner_player_width: math.floor(calc($player_width - $image_size / 2));

  #outer-player-box {
    min-width: $player_width;
    min-height: $image_size;
  }

  @include common.slider($min-length: $inner_player_width - 80, $height: 7px, $highlight-color: theme.$text-muted);

  #seek-bar {
    padding-top: 10px;
  }



  #inner-player-box {
    // background: linear-gradient(135deg, color.mix(theme.$background-alt, white, 80%), theme.$background-alt, #4b2353);
    border-radius: 15px;
    margin-left: math.floor(calc($image_size / 2));
    min-width: $inner_player_width;
    min-height: $player_height;
  }

  #player-info-box {
    margin-left: $image_size + 10;
    min-width: $player_width - $image_size - 20;
  }

  #track-info {
    min-width: $player_width - $image_size - 20;
  }

  #player-image-stack {
    border-radius: 100%;
    box-shadow: 0 0 4px 0 black;
  }

  #player-title {
    margin-top: 18px;
    font-weight: 700;
    color: theme.$text-main;
    font-size: 1rem;
    color: theme.$text-main;
    @extend %player_text;
  }

  #player-artist,
  #player-album {
    font-weight: 500;
    font-size: 12px;
    color: theme.$text-main;
    @extend %player_text;
  }

  #player-controls {
    margin-top: 5px;
    margin-bottom: 15px;

    .time-label {
      @extend %caption_heading;
      @extend %player_text;
    }

    #button-box {
      margin: 0 common.toEm(10);

      .player-icon {
        font-size: 1.3rem;
      }

      .player-button {
        min-width: 20px;
        min-height: 20px;
        padding: common.toEm(5);
        border-radius: 100%;

        &:hover {
          background: theme.$background-alt;
          box-shadow: 0 0 2px -3px black;
        }

        &:active {
          box-shadow: 0 0 4px -1px black;
        }

        &:disabled {
          color: #5f5f5f;
        }
      }
    }
  }

}
