@use "sass:color";
@use "theme.scss";
@use "common/mixins.scss";
@use "variable.scss";
@use "common/functions.scss";

$hover-tranisition: background 0.15s ease-in-out;

/* notification widget*/

#notification-eventbox {
  #notification {
    padding: 0.9rem;
    border-radius: 1rem;
    background-color: theme.$background-alt;
    color: theme.$text-main;
    border: variable.$border-width solid theme.$surface-disabled;
    transition: border 100ms ease-in-out;

    .notification-header {
      .app-icon {
        /* Notification app icon (only visible when the primary image is set) */
        -gtk-icon-effect: none;
        -gtk-icon-shadow: 0 1px 4px black;
        margin: 6px;
      }

      .summary {
        @extend %title_4;
        text-shadow: none;
      }

      .timestamp {
        font-size: 12px;
        font-weight: 700;
        text-shadow: none;
        margin-right: 10px;
      }
    }

    .notification-body {
      .body {
        @extend %heading;
        background-color: transparent;
        text-shadow: none;
        padding: functions.toEm(5);
      }

      .image {
        -gtk-icon-effect: none;
        border-radius: functions.toEm(15);
      }
    }

    .close-button {
      border-radius: variable.$radius-large;

      &:hover {
        box-shadow: none;
        border: none;
        background-color: color.mix(theme.$text-main, transparent, 20%);
        transition: $hover-tranisition;

        #close-icon {
          @extend %clear_icon;
        }
      }
    }

    #notification-action-box {
      button {
        padding: functions.toEm(4);
        margin: 0;
        font-weight: 600;
        border-radius: 3rem;
        box-shadow: none;
        background-color: transparent;
        transition: $hover-tranisition;

        &.start-action {
          margin-left: 0;
        }

        &.end-action {
          margin-right: 0;
        }

        &:hover {
          background-color: theme.$background;
        }
      }
    }

    #notification-circular-progress-bar {
      border: solid 0px rgb(151, 151, 177);
      color: transparent;
    }

    .critical {
      box-shadow: inset 0 0 0.15em 0 theme.$accent-red;
    }
  }
}
