/** notification **/
#notification {
  padding: 0.8rem;
  border: solid 1px var(--border-color);
  border-radius: 1rem;
  background: var(--background-dark);
}

.notification-header #notification-icon {
  /* Notification app icon (only visible when the primary image is set) */
  /* -gtk-icon-effect: highlight;              TODO: might use this on hover     */
  /* -gtk-icon-shadow: 0 1px 4px var(--text-main); */
  margin: 5px 0;
}

.notification-header .summary {
  /* Notification summary/title */
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  color: var(--text-main);
  text-shadow: none;
}

#notification .notification-body {
  font-size: 0.92rem;
  padding: 0.25em;
  margin: 0.25em;
}

.notification-body .body {
  /* Notification body */
  font-size: 13px;
  font-weight: normal;
  background: transparent;
  color: var(--text-main);
  text-shadow: none;
  padding: 5px;
}

.notification-body .image {
  /* Notification Primary Image */
  -gtk-icon-effect: none;
  margin-top: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: alpha(var(--text-main), 0.2);
  transition: background 0.15s ease-in-out;
  border: none;
}

#notification-action-box button.start-action {
  margin-left: 0;
}

#notification-action-box button.end-action {
  margin-right: 0;
}

#notification-action-box button {
  padding: 4px;
  margin: 0;
  font-weight: 600;
  border-radius: 3rem;
  box-shadow: none;
  background: transparent;
  transition: background 0.15s ease-in-out;
}

#notification-action-box button:hover {
  background-color: lighter(var(--background-dark));
}
