/** notification **/
#notification {
  padding: 0.8rem;
  border: solid 1px var(--border-color);
  border-radius: 1rem;
  background: var(--background-dark);
  color: var(--text-main);
}

#notification:hover {
  color: aqua;
}

/* .notification-header #notification-icon {
  Notification app icon (only visible when the primary image is set) */
  /* -gtk-icon-effect: highlight;              TODO: might use this on hover     */
  /* -gtk-icon-shadow: 0 1px 4px var(--text-main);

} */

/* Notification summary/title */
.notification-header .summary {
  font-size: 14px;
  font-weight: bold;
  text-shadow: none;
}

/* Notification timestamp */
.notification-header .timestamp {
  font-size: 14px;
  font-weight: bold;
  text-shadow: none;
}

#notification .notification-body {
  padding: 0.25em;
}

.notification-body .body {
  /* Notification body */
  font-size: 13px;
  font-weight: 500;
  background: transparent;
  text-shadow: none;
  padding: 5px;
}

.notification-body .image {
  /* Notification Primary Image */
  -gtk-icon-effect: none;
  margin-top: 5px;
}

.close-button:hover {
  box-shadow: none;
  border: none;
  background: alpha(var(--text-main), 0.2);
  transition: background 0.15s ease-in-out;
}

#notification-action-box button.start-action {
  margin-left: 0;
}

#notification-action-box button.end-action {
  margin-right: 0;
}

#notification-action-box button {
  padding: 4px;
  margin: 0;
  font-weight: 600;
  border-radius: 3rem;
  box-shadow: none;
  background: transparent;
  transition: background 0.15s ease-in-out;
}

#notification-action-box button:hover {
  background: lighter(var(--background-dark));
}



/* 
.low{

}

.normal{

}

.critical{

} */