@use "sass:color";
@use "common/variables.scss";

/* OSD widget*/

#osd-container {
  background-color: variables.$shadow-default;
  padding: 12px 20px;
  border-radius: 999px;
  border: none;
  margin-bottom: 100px;

  scale {
    min-width: 140px;
  }

  slider {
    min-height: 8px;
    border-radius: 999px;
    background: transparent;
    border: none;
  }

  trough {
    min-height: inherit;
    border-radius: 999px;
    border: none;
    background: #808080;
  }

  highlight {
    border-radius: 100px 0px 0px 100px;
    background: white;
  }
}

#osd-level {
  font-weight: 600;
}
