@use "sass:color";
@use "theme.scss";
@use "common/mixins.scss";
@use "common/functions.scss";
@use "variable.scss";

/* OSD widget*/

#osd-container {
  background-color: theme.$shadow-color;
  padding: functions.toEm(12) functions.toEm(20);
  border-radius: variable.$radius-large;
  border: none;
  margin-bottom: 100px;

  #osd-level {
    font-weight: 600;
  }

  @include mixins.slider;
}
