@use "sass:color";
@use "theme.scss";
@use "common/mixins.scss";

/* OSD widget*/

#osd-container {
  background-color: theme.$shadow-color;
  padding: 12px 20px;
  border-radius: theme.$border-radius;
  border: none;
  margin-bottom: 100px;

  #osd-level {
    font-weight: 600;
  }

  @include mixins.slider;
}
