@use "sass:color";
@use "theme.scss";
@use "common/functions.scss";
@use "variable.scss";

/* overview  widget */

#overview-window {
  background-color: color.mix(black, transparent, 90%);
  border-radius: 50px;
  padding: functions.toEm(10);
}

#overview-icon {
  border-style: none;
  margin: 5px;
  background-color: color.mix(black, transparent, 40%);
  border-color: black;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  padding: functions.toEm(5);
}

#overview-client-box,
#overview-workspace-bg,
#overview-frame {
  border-radius: variable.$radius;
}

#overview-client-box {
  background-color: color.mix(theme.$text-main, transparent, 100%);

  &:hover {
    background-color: color.mix(theme.$text-main, transparent, 70%);
  }

  &:active {
    background-color: color.mix(theme.$text-main, transparent, 100%);
  }
}

#overview-workspace-bg {
  background-color: #2a2a2a;
}

#overview-workspace-box {
  padding: functions.toEm(15);

  label {
    margin-top: 15px;
    font-size: 23px;
    font-weight: 700;
    font-family: league spartan;
  }
}
