@use "theme.scss";

#inner-player-box {
  background-color: theme.$background;
  border-radius: 15px;
}

#player-stack-button {
  border-radius: 5px;
  min-width: 20px;
  min-height: 6px;
  margin: 10px 3px;
  background-color: theme.$text-main;
  &:hover {
    background-color: #646464;
  }
  &.active {
    border-radius: 5px;
    background-color: theme.$background;
  }
  &.empty {
    min-width: 9px;
    margin: 14px 2px 14px 2px;
    background-color: theme.$text-main;
  }
}

#player-box {
  margin: 20px 0;

  #player-title {
    margin-top: 15px;
    font-weight: 700;
    color: theme.$text-main;
    font-size: 1rem;
  }

  #player-artist {
    font-weight: 500;
    font-size: 12px;
    color: #7d7178;
  }

  #button-box {
    margin-bottom: 10px;
    #player-button {
      min-width: 25px;
      min-height: 25px;
      padding: 7px;
      border-radius: 100%;
      &:hover {
        background: theme.$background-alt;
        box-shadow: 0 0 2px -3px black;
      }
      &:active {
        box-shadow: 0 0 4px -1px black;
      }
      &:disabled {
        color: #5f5f5f;
      }
    }
  }

  scale {
    margin-top: 10px;
    trough {
      border-radius: 100px;
      min-height: 8px;
      background-color: darken(theme.$background, 5%);
      highlight {
        border-radius: 400px;
      }
      &:hover {
        background-color: darken(theme.$background, 7%);
      }
    }
  }
  highlight,
  progress {
    background: theme.$text-muted;
  }
}
