@use "theme.scss";
@use "variable.scss";

$mpris-album-art-overlay : rgba(0, 0, 0, 0.55);
$mpris-button-hover : rgba(0, 0, 0, 0.50);

$mpris-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);

.widget-mpris {
    min-width: 10em;
  /* The parent to all players */
  .widget-player {
    padding: 8px;
    padding: 16px;
    margin: 16px 20px;
    background-color: $mpris-album-art-overlay;
    border-radius: variable.$radius;
    box-shadow: $mpris-shadow;

    button:hover {

      background: theme.$background;
    }

    .widget-player-album-art {
      border-radius: variable.$radius;
      box-shadow: $mpris-shadow;
    }
    .widget-player-title {
      font-weight: bold;
      font-size: 1.25rem;
    }
    .widget-player-subtitle {
      font-size: 1.1rem;
    }

    & > box > button {
      &:hover {
        background-color: $mpris-button-hover;
      }
    }
  }

  & > box > button {
    /* Change player side buttons */
  }
  & > box > button:disabled {
    /* Change player side buttons insensitive */
  }
}