@use "theme.scss";
@use "common/mixins.scss";
@use "variable.scss";

.submenu-box {
  margin-bottom: 10px;
}

#quicksettings-menu {
  min-width: 410px;

  .user-box {
    margin: 1rem;

    .info-box {
      padding: 8px 0;

      label {
        @extend %heading;
        margin-left: 1rem;
      }

      .uptime {
        font-size: 0.92rem;
        border: variable.$border-width solid
          lighten($color: theme.$surface-disabled, $amount: 10%);
        padding: 3px 9px;
        border-radius: 1rem;
      }
    }
  }

  .slider-box {
    margin: 0 12px 14px;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    background-color: theme.$background;
  }

  #dashboard-slider {
    margin-left: 10px;
    margin-right: 20px;
  }

  #dashboard-label{
    font-weight: 700;
    font-size: 12.5px;
  }
}
