/* system tray */

/* TODO: see other traybar styles from kde,gnome  */
#system-tray {
  padding: 0.125em 0.25em;
}

#system-tray > button {
  margin: 0 0.1em;
  padding: 0 0.15em;
}

#system-tray > button:hover {
  background-color: var(--surface-disabled);
}

#system-tray > button:active {
  background-color: var(--text-main);
  color: var(--background-dark);
}

#system-tray-menu > menuitem menu,
#system-tray-menu {
  background-color: var(--surface-disabled);
  border-radius: 1em;
  padding: 10px;
}

#system-tray-menu > menuitem menu > menuitem,
#system-tray-menu > menuitem {
  margin: 5px 0px;
  background-color: var(--surface-disabled);
  padding: 0.3em 0.5em;
  border-radius: 10px;
}

#system-tray-menu > menuitem menu > menuitem:disabled,
#system-tray-menu > menuitem:disabled {
  background-color: transparent;
  color: #8c7b78;
}

#system-tray-menu > menuitem menu > menuitem:hover,
#system-tray-menu > menuitem:hover,
#submenu-button:hover {
  background-color: var(--surface-neutral);
  color: var(--accent-purple);
}
