@use "common/variables.scss";

/* system tray widget*/
/* TODO: see other traybar styles from kde,gnome  */

#system-tray {
  padding: 0.125em 0.25em;

  & > button {
    margin: 0 0.1em;
    padding: 0 0.15em;

    &:hover {
      background-color: variables.$surface-disabled;
    }

    &:active {
      background-color: variables.$text-main;
      color: variables.$background-dark;
    }
  }
}

#system-tray-menu > menuitem menu,
#system-tray-menu {
  background-color: variables.$surface-disabled;
  border-radius: 1em;
  padding: 10px;
}

#system-tray-menu > menuitem menu > menuitem,
#system-tray-menu > menuitem {
  margin: 5px 0px;
  background-color: variables.$surface-disabled;
  padding: 0.3em 0.5em;
  border-radius: 10px;
}

#system-tray-menu > menuitem menu > menuitem:disabled,
#system-tray-menu > menuitem:disabled {
  background-color: transparent;
  color: variables.$text-muted-dark;
}

#system-tray-menu > menuitem menu > menuitem:hover,
#system-tray-menu > menuitem:hover,
#submenu-button:hover {
  background-color: variables.$surface-neutral;
  color: variables.$accent-purple;
}
