@use "common/variables.scss";

/** taskbar widget **/

#taskbar {
  font-style: normal;
  color: variables.$text-main;
  background: variables.$background-dark;
  padding-left: 4px;
  padding-right: 4px;

  & > button {
    padding: 0px 2px;
    margin: 4px 0px;
    border: 0px;

    &:last-child {
      margin-right: 0px;
    }
  }
}
