@use "theme.scss";
@use "common/functions.scss";

/** taskbar widget **/

#taskbar {
  font-style: normal;
  color: theme.$text-main;
  background-color: theme.$background-dark;
  padding-left: 0.95em;
  padding-right: 0.95em;

  & > button {
    padding: 0px functions.toEm(2);
    margin: 4px 0px;
    border: 0px;

    &:last-child {
      margin-right: 0px;
    }
  }
}
