@use "theme.scss";

/** taskbar widget **/

#taskbar {
  font-style: normal;
  color: theme.$text-main;
  background-color: theme.$background-dark;
  padding-left: 0.95em;
  padding-right: 0.95em;

  & > button {
    padding: 0px 2px;
    margin: 4px 0px;
    border: 0px;

    &:last-child {
      margin-right: 0px;
    }
  }
}
