@use "sass:color";
@use "settings";
@forward "settings";
@use "theme.scss";


$quicksettings-width: 370px;

$radius-large: 9999px;

$radius: settings.$border-radius;  // TODO: Change to settings.$radius

$border-color: theme.$surface-disabled;
$border: settings.$border-width solid $border-color;

$popover-border-color: color.mix($border-color, transparent, 5%);
