@use "sass:color";
@use "settings";
@forward "settings";
@use "theme.scss";


$quicksettings-width: 370px;


$radius-large: 100px;

$border-color: theme.$surface-disabled;
$border: settings.$border-width solid $border-color;

$active-gradient: linear-gradient(
  to right,
  theme.$background-dark,
  color.adjust(theme.$background-dark, $lightness: -4%)
);

$text-shadow: 2pt 2pt 2pt theme.$shadow-color;
$box-shadow: 2pt 2pt 2pt 0 theme.$shadow-color;

$popover-padding: settings.$padding * 1.6;
$popover-radius: 0;

@if settings.$radius !=0 {
  $popover-radius: settings.$radius + $popover-padding;
}

$popover-border-color: color.adjust($border-color, $alpha: -0.95);
