@use "sass:color";
@use "settings";
@forward "settings";
@use "theme.scss";


$quicksettings-width: 370px;

$radius-large: 16px;

$radius: 10px;  // TODO: Change to settings.$radius

$border-color: theme.$surface-disabled;
$border: settings.$border-width solid $border-color;

$active-gradient: linear-gradient(
  to right,
  theme.$background-dark,
  color.mix(theme.$background-dark, black, 4%)
);

$text-shadow: 2pt 2pt 2pt theme.$shadow-color;

$popover-padding: settings.$padding * 1.6;
$popover-radius: 0;

@if $radius !=0 {
  $popover-radius: $radius + $popover-padding;
}

$popover-border-color: color.mix($border-color, transparent, 5%);
