@use "common/variables.scss";

/* volume widget*/

#volume-progress-bar {
  color: transparent;
  background-color: transparent;
  border-color: variables.$border-color;
}

.volume-icon {
  margin: 0px 6px 0px 0px;
}
