@use "theme.scss";
@use "common/mixins.scss";

$base_padding: 6px; 
$base_margin: 4px;   

  .weather-box {
    //spacing: $base_padding;
    @include mixins.floating-widget;


    // header
    .weather-header-box {
     // spacing: $base_padding;

      .weather-header {
        font-weight: 700;
        font-size: 11pt;
        color: white;

         // change style when no location is configured
        &.no-location {
          color: wheat;
        }

        &.location {
          font-weight: normal;
        }
      }
    }

    // weather items
    .weather-grid {
      // spacing-rows: $base_padding;
      // spacing-columns: $base_padding * 2;

      .weather-forecast-time {
        font-weight: 400;
        font-size: 9pt;
        padding-top: $base_padding;
        padding-bottom: $base_padding;
      }
      .weather-forecast-icon {
        //icon-size: 64px;
        margin-bottom: $base_margin;
      }

      .weather-forecast-temp {
        font-feature-settings: "tnum";
        font-weight: bold;
      }
    }
    }
    