@use "theme.scss";
@use "common/mixins.scss";
@use "variable.scss";
@use "common/functions.scss";

$base_margin: functions.toEm(4);

.weather-box {
  @include mixins.floating-widget;

  // header

  .weather-header-box {
    font-size: 11pt;
    color: white;
    font-weight: 500;

    .temperature {
      font-size: 2em;
    }

    .feels-like {
      font-size: 0.79em;
    }

    .location {
      font-size: 0.9em;
      font-weight: 600;
      margin-top: 10px;
    }

    #weather-details {
      margin: functions.toEm(8) functions.toEm(50);

      .windspeed {
        font-size: 1.1em;
      }

      .humidity {
        font-size: 1em;
      }
    }
  }

  #weather-separator {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 2px;
  }

  // weather items
  #weather-grid {
    .weather-forecast-time {
      font-weight: 500;
      font-size: 10pt;
      padding-top: variable.$padding;
      padding-bottom: variable.$padding;
    }

    .weather-forecast-icon {
      margin-bottom: $base_margin;
    }

    .weather-forecast-temp {
      font-feature-settings: "tnum";
      font-weight: 700;
    }
  }
}

.weather-bar-icon {
  font-weight: 700;
}
