@use "theme.scss";
@use "variable.scss";
@use "common";

$base_margin: common.toEm(4);

#weather {
  border-radius: variable.$bar-widgets-weather-border-radius;
  border: if(variable.$bar-widgets-weather-border-enabled, variable.$border, none);
  border-width: variable.$bar-widgets-weather-border-width;

  #nerd-icon.panel-icon {
    font-size: variable.$bar-widgets-weather-icon_size;
    margin-right: variable.$bar-widgets-weather-spacing;
  }
}

.weather-box {
  @include common.floating-widget;

  #weather-expander{
    arrow {
      color: theme.$text-main;
    }
  }

  #weather-header-grid {

    // header
    font-size: 11pt;
    color: white;
    font-weight: 500;


    .header-label {
      font-size: 0.8em;
    }

    #condition{
      font-size: 1.5em;
      font-weight: 600;
    }

    .feels-like {
      font-size: .8em;
    }

    .header-label#sunrise-sunset {
      font-size: 0.8em;
      font-weight: 500;
      color: darken(theme.$text-main,10%);
      margin-right: 50px;

    }
  }


  #weather-separator {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 2px;
  }

  // weather items
  #weather-grid {
    .weather-forecast-time {
      font-weight: 500;
      font-size: 10pt;
      padding-top: variable.$padding;
      padding-bottom: variable.$padding;
    }

    .weather-forecast-icon {
      margin-bottom: $base_margin;
    }

    .weather-forecast-temp {
      font-feature-settings: "tnum";
      font-weight: 700;
    }
  }
}
