@use "sass:color";
@use "theme.scss";
@use "variable.scss";
@use "common";

.panel-module-group {
  &.compact {
    padding: 0;
    margin: 0;

    >*:not(:first-child) {
      padding-right: variable.$padding * 1.5;
      padding-left: variable.$padding;
    }

    >*:not(:last-child) {
      padding-right: variable.$padding;
      padding-left: variable.$padding * 1.5;
    }
  }

  &.bordered {
    border: variable.$border-width solid theme.$accent-light;
    background: transparent;
    padding: common.toEm(4) common.toEm(5);

    >* {
      //background: transparent;
    }

    separator {
      padding: 0;
      margin: 0;
    }
  }
}
