@use "common/variables.scss";

$workspace-transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);

/** workspace switcher widget */

#workspaces {
  padding: 0.19em 1em;
  font-weight: bold;

  & > button {
    padding: 0 0.5rem;
    transition: padding 0.05s steps(8);
    border-radius: 100px;

    &:hover {
      background-color: variables.$ws-hover;
      transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);

      label {
        color: variables.$background-dark;
      }
    }

    &.active {
      padding: 0 1rem;
      background-color: variables.$ws-active;
      min-width: 1.4rem;
      transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);

      & > label {
        color: variables.$background-dark;
      }
    }
  }
}
